{% extends 'base.html' %}

{% block content %}
<h4>Agregar Doctor</h4>

<form method="POST">
    <div class="mb-3">
        <label class="form-label">Nombre</label>
        <input type="text" class="form-control" name="nombre" required>
    </div>

    <div class="mb-3">
        <label class="form-label">Especialidad</label>
        <input type="text" class="form-control" name="especialidad" required>
    </div>

    <button type="submit" class="btn btn-primary">Guardar</button>
    <a href="{{ url_for('doctores.gestionar_doctores') }}" class="btn btn-secondary">Cancelar</a>
</form>
{% endblock %}